.head{
	color: white;
	width: 500px;
	height: 400px;
}
.txt{
	color: white;
	width: 400px;
	height: 170px;
	margin: 50px;
	border-radius: 15px;
	text-align: center;
	margin-left: 40%;
}
.flex-container{
 display: flex;

 margin: 50px 0;
 flex-wrap: wrap;
 flex-direction: row;

 justify-content: space-around;
 padding: 20px;
}
.card{
	width: 600px;
	height: 500px;
	margin: 10px;
	border-radius: 15px ;
}
.flex-box{
	height: 400px;
	margin-bottom: 15px;
	background-size: cover;
border-radius: 15px 15px ;
}
.flex-box:hover {
  transform: scale(1.2);
  transition: transform ease 1s;
}
.img1{
	background-image: url("img/1.jpg");
}
.img2{
	background-image: url("img/2.jpg");
}
.img3{
	background-image: url("img/3.jpg");
}
.img4{
	background-image: url("img/4.jpg");
}
.img5{
	background-image: url("img/5.jpg");
}
.img6{
	background-image: url("img/6.jpg");
}
.img7{
	background-image: url("img/7.jpg");
}
.img8{
	background-image: url("img/8.jpg");
}
.img9{
	background-image: url("img/9.jpg");
}

.a{
	background: yellowgreen;
	width: 400px;
	height: 170px;
	margin: 50px;
	border-radius: 15px;
	text-align: center;
	margin-left: 40%;
	color: black;
}
