html,body{
	width: 100%;
	height: 100%;
}

body{
    background-color:bisque;
    text-align: center;
}
a{
	float: right;
	margin-right: 20px;
	margin-top: 20px;

}
a:active,
a:hover{
		background: #000000;
	color: #fff;;
	transition: 0.4s all ease-out

}
table, tr, td{
	border:5px solid whitesmoke;
	padding: 10px 15px;
	border-collapse: collapse;
	font-size: 15px;

}
.center{
	margin-left: auto;
	margin-right: auto;
}

